header {
  width:270px;
  float:left;
  position:fixed;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}
footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}


@media print, screen and (max-width: 960px) {
  
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
}